doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Mascotte
        link(rel="stylesheet", href="css/main.css")
    body
        header.header
            h1.header-title mascotte
            div.header-wallet
                div.header-wallet-img
                    img(src="img/money.png")
                span.header-wallet-count
        div.main
            div.main-currency
                div.main-buy Покупка 
                    span.main-buy-count 250000
                div.main-sell Продажа 
                    span.main-sell-count 280000
            div.main-actions
                h3.main-actions-title Последние операции
                div.main-actions-item
                    span.item-type.item-type-buy Buy
                    span.item-count -0.002
                    span.item-date 28.07.2019 23:45
        script(src="js/index.js")