doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Mascotte
    body
        div.main
            span.main-wallet Мои средства: 
                span.main-wallet-count
            span.main-btc Курс валюты: 
                span.main-btc-currency
        script(src="js/index.js")