// vars

$transition: all .3s ease;

// mixins

@mixin Flex($justify-content: flex-start, $align-items: flex-start, $flex-direction: row, $flex-wrap: nowrap) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
}

// fonts

@font-face {
    font-family: 'PressStart2P-Regular';
    src: url('fonts/PressStart2P-Regular.ttf') format('truetype');
}