@import 'config.scss';

* {
    color: #fff;
    font-family: 'PressStart2P-Regular', sans-serif;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    width: 90%;
    margin: auto;
    background-color: #10111d;
}

h1, h2, h3, h4, h5, h6, a, p, input, span {
    margin: 0;
}

.header {
    position: sticky;
    top: 0;
    @include Flex(space-between, center);
    width: 100%;
    margin-bottom: 60px;
    padding-top: 20px;
    background-color: #10111d;

    &-title {
        font-size: 48px;
    }

    &-wallet {
        @include Flex(flex-end, center);

        &-img {
            width: 10%;

            img {
                width: 100%;
            }
        }

        &-count {
            font-size: 24px;
        }
    }
}

.main {
    @include Flex(flex-start, flex-start, column);

    &-bet, &-btc {
        width: 100%;
        padding-bottom: 20px;
        font-size: 32px;
    }

    &-btc {
        margin-bottom: 50px;
    }

    &-currency {
        @include Flex(space-between);
        width: 100%;
    }

    &-stats {
        margin: 50px 0;

        &-count {
            display: block;
            padding-bottom: 20px;
            font-size: 22px;
        }
    }

    &-buy, &-sell {
        @include Flex(center, center, column);
        width: 50%;
        font-size: 32px;

        &-count {
            padding-top: 20px;
            font-size: 40px;
        }
    }

    &-info {
        @include Flex(space-between);
        width: 100%;
    }

    &-actions {
        width: 65%;

        &-title {
            padding-bottom: 20px;
            font-size: 36px;
        }

        &-item {
            @include Flex(space-between, center);
            width: 100%;
            margin: 10px 0;
            padding: 30px;
            border: 3px solid #fff;

            .item {
                &-type {
                    font-size: 22px;
                }
            }
        }
    }

    &-transactions {
        width: 33%;

        &-title {
            padding-bottom: 20px;
            font-size: 36px;
        }

        &-item {
            @include Flex(flex-start, flex-start, column);
            margin: 10px 0;
            padding: 20px;
            border: 3px solid #fff;

            & > * {
                display: block;
                width: 100%;
            }

            .item {
                &-btc {
                    padding-bottom: 10px;
                }
            }
        }
    }
}